{% extends 'base.html' %}

{% block content %}

<br>
<h3 class="text-center">Login</h3>

<div class="container">
    {% include 'messages.html' %}
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <img style="width: 500px;"
                src="https://cdn.pixabay.com/photo/2019/12/16/10/30/iphone-4699057_1280.jpg" class="img-fluid"
                alt="img">
        </div>
        <form method="post" action="{% url 'login' %}" class="col-md-5">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input name="username" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-outline-primary">Login</button>
        </form>
    </div>
</div>


{% endblock %}